mcp==1.27.1
pymongo==4.17.0
PyPDF2==3.0.1
python-dotenv==1.2.2
pydantic==2.13.4
pydantic-settings==2.14.1
PyMuPDF==1.26.6
sentence-transformers==5.1.2
pytest==9.0.1
rank-bm25==0.2.2
deep-translator==1.11.4
langdetect==1.0.9
pytesseract==0.3.13
Pillow==11.2.1
